<section class="m-auto w-2/4">
  <div class="w-2/3 m-auto">
    <h4 class="text-center text-4xl text-white">
      SEGUIMIENTO Y ANALISIS DE CASOS
    </h4>
    <p class="px-20 pt-8 text-white">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam vero
      quam recusandae beatae sit illo qui eius non laudantium rem. Lorem ipsum
      dolor sit amet consectetur adipisicing elit. Ut neque consectetur
      molestias voluptatum delectus ad dolorum eos modi, et aut assumenda
      maxime! Qui dignissimos iste sequi deserunt blanditiis voluptatum aliquam!
    </p>
    <p class="text-center my-10">
      <a href="" class="bg-rojo rounded-lg px-5 py-1 hover:bg-fondo1"
        >IR A ANALISIS</a
      >
    </p>
  </div>
</section>
