<section>
  <h4>SEGUIMIENTO Y ANALISIS DE CASOS</h4>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam vero quam
    recusandae beatae sit illo qui eius non laudantium rem.
  </p>
  <p><a href="">IR A ANALISIS</a></p>
</section>
