<section class="w-2/4 h-[400px] m-auto my-1">
    <div>
      <h4 class="text-center text-4xl text-verde">¿QUE BENEFICIOS TENEMOS?</h4>
  
      <div class="grid grid-cols-2 gap-10 mt-10">
        <div class="flex flex-grow">
            <div class="w-10 h-10 rounded-full bg-verde mr-3">
            </div>
            <p class="text-white">Recopilación de datos de denuncias de distintas páginas web.</p>

        </div>
        <div class="flex flex-grow">
            <div class="w-10 h-10 rounded-full bg-rojo mr-3">
            </div>
            <p class="text-white ">Recopilación y visualización de datos en tiempo real.</p>
        </div>
        <div class="flex flex-grow">
            <div class="w-10 h-10 rounded-full bg-verde mr-3">
            </div>
            <p class="text-white">Implementación de gráficos y mapas interactivos.</p>
        </div>
        <div class="flex flex-grow">
            <div class="w-10 h-10 rounded-full bg-rojo mr-3">
            </div>
            <p class="text-white">Servicios de análisis y alertas.</p>
        </div>
        <div class="flex flex-grow">
            <div class="w-10 h-10 rounded-full bg-verde mr-3">
            </div>
            <p class="text-white">Interfaz amigable, minimalista y sencilla para los usuarios.</p>
        </div>
        <div class="flex flex-grow">
            <div class="w-10 h-10 rounded-full bg-rojo mr-3">
            </div>
            <p class="text-white">Implementación de Inteligencia artificial.</p>
        </div>
      </div>
    </div>
  </section>
