---
import Logo from "../../../public/images/Frame 19.svg";
import Nebulosa from "../../../public/images/nebulosa.svg";
---

<section class="w-2/4 m-auto my-10 h-[550px]">
  <div class="relative">
    <img src={Nebulosa.src} alt="" class="absolute" />
    <div class="absolute w-2/5">
      <img src={Logo.src} alt="" class="m-auto h-40 rounded-3xl mt-16" />
      <h1 class="text-white font-semibold text-4xl m-7">
        <span class="text-verde">ALERTAS</span> DE VIOLENCIA
      </h1>
      <p class="text-white m-7">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore culpa
        fuga illo praesentium tenetur architecto necessitatibus fuga illo
        praesentium tenetur architecto
      </p>
      <p class="text-center my-6">
        <a
          href=""
          class="py-1 px-4 text-white bg-verde hover:bg-fondo1 rounded-lg text-center"
          >EXPLORAR AQUI</a
        >
      </p>
    </div>
  </div>
</section>
