---
import Dashboard from "../../../public/images/dashboard.svg";
import Nebulosa from "../../../public/images/nebulosa2.svg";
---

<section class="w-2/4 h-[400px] m-auto my-10">
  <div class="grid grid-cols-2">
    <img src={Nebulosa.src} alt="" class="absolute h-[400px] left-2/4 -z-10" />
    <div class="">
      <h1 class="text-verde font-semibold text-4xl mt-7">
        VISUALIZACIÓN DE DATOS DE DENUNCIAS
      </h1>
      <p class="text-white mt-14">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore culpa
        fuga illo praesentium tenetur architecto necessitatibus fuga illo
        praesentium tenetur architecto
      </p>
      <p class="text-center my-24">
        <a
          href=""
          class="py-1 px-4 text-white bg-verde hover:bg-fondo1 rounded-lg text-center"
          >IR AL DASHBOARD</a
        >
      </p>
    </div>
    <div>
      <img src={Dashboard.src} alt="" class="m-auto h-[300PX] mt-16" />
    </div>
  </div>
</section>
