<section class="w-2/4 h-[400px] m-auto my-10">
  <div class="bg-azul rounded-lg p-6">
    <h1 class="text-verde font-semibold text-4xl mt-7">
      SERVICIOS AVANZADOS DEL SITIO WED
    </h1>
  </div>
  <div class="flex flex-grow gap-4">
    <div class="bg-azulOscuro rounded-lg p-6">
      <h3 class="text-white font-semibold">ANALISIS DE DATOS</h3>
      <p class="text-white">
        Uso de inteligencia artificial para predicciones, sistema de alerta y
        recomendaciones de prevención.
      </p>
    </div>
    <div class="bg-azulClaro rounded-lg p-6">
      <h3 class="text-white font-semibold">RECOPILACION DE DATOS</h3>
      <p class="text-white">
        Uso de inteligencia artificial para predicciones, sistema de alerta y
        recomendaciones de prevención.
      </p>
    </div>
    <div class="bg-azulMasClaro rounded-lg p-6">
      <h3 class="text-white font-semibold">GENERAR SOLUCIONES</h3>
      <p class="text-white">
        Uso de inteligencia artificial para predicciones, sistema de alerta y
        recomendaciones de prevención.
      </p>
    </div>
  </div>
  <p class="text-center mt-6">
    <a
      href=""
      class="py-1 px-4 text-white bg-verde hover:bg-fondo1 rounded-lg text-center mx-auto"
      >IR A SERVICIOS</a
    >
  </p>
</section>
