---
import Logo from "../../public/images/Frame 19.svg";
---

<footer class="bg-black bottom-0 p-10 w-screen">
  <div class="flex flex-row gap-6 justify-between">
    <div class="flex flex-row">
      <img src={Logo.src} alt="" class="w-[200px] rounded-3xl" />
      <div class="w-72">
        <h1 class="text-white font-semibold text-4xl m-7">
          <span class="text-verde">ASISTENTE</span> DE DEMANDAS
        </h1>
      </div>
    </div>
    <div class="flex flex-row gap-16">
      <div>
        <h3 class="text-2xl text-rojo">SOBRE NOSOTROS</h3>
        <div class="w-56">
          <p class="text-white py-3">
            Somos un grupo de desarrolladores creadores del sitio web sdidtente
            de demandas
          </p>
        </div>
      </div>
      <div>
        <h3 class="text-2xl text-rojo">SERVICIOS</h3>
        <div class="w-56">
          <p class="text-white py-3">Visualizacion y analisis de denuncias.</p>
          <p class="text-white py-3">Seguimiento y evaluación de casos.</p>
          <p class="text-white py-3">Analisis predictivo y alertas.</p>
          <p class="text-white py-3">Dashboard de estrategias.</p>
        </div>
      </div>
      <div>
        <h3 class="text-2xl text-rojo">REDES</h3>
        <div class="w-56 flex flex-col">
          <a href="" class="text-white py-3">Instagram</a>
          <a href="" class="text-white py-3">Facebook</a>
        </div>
      </div>
      <div class="w-56">
        <h3 class="text-2xl text-rojo">CONTACTO</h3>
        <div class="text-white">
          <h4 class="pt-3">Email</h4>
          <p>ejemplo@ejemplo.com</p>
          <h4 class="pt-3">Número</h4>
          <p>3xxxxxxxxx</p>
          <h4 class="pt-3">Dirección</h4>
          <p>Universidad Libre sede Belmonte</p>
        </div>
      </div>
    </div>
  </div>
</footer>
