<nav>
  <div class="flex flex-wrap flex-row-reverse justify-center">
    <!-- <a href="" class="m-3 p-1 rounded-lg hover:bg-fondo1 text-white bg-rojo"
      >REGISTRARSE</a
    > -->
    <a
    href="/login"
    class="m-3 p-1 rounded-lg hover:bg-fondo1 text-white bg-verde">INGRESAR</a
    >
    <a href="/analisis" class="m-3 p-1 rounded-lg hover:bg-fondo1 text-white"
      >SERVICIOS</a
    >
    <a href="/denuncias" class="m-3 p-1 rounded-lg hover:bg-fondo1 text-white">DENUNCIAS</a
      >
      <a href="/dashboard" class="m-3 p-1 rounded-lg hover:bg-fondo1 text-white"
      >DASHBOARD</a
      >
      <a href="/" class="m-3 p-1 rounded-lg hover:bg-fondo1 text-white">HOME</a>
    <a href="/" class="m-3 p-1 rounded-lg hover:bg-fondo1 text-white text-2xl"><span >Alertas</span> de violencia</a>
  </div>
</nav>
