<nav>
  <div class="flex flex-wrap flex-row-reverse justify-center">
    <a href="/login" class="m-3 p-1 rounded-lg hover:bg-fondo1 text-white bg-rojo"
      >REGISTRARSE</a
    >
    <a href="" class="m-3 p-1 rounded-lg hover:bg-fondo1 text-white bg-verde"
      >INGRESAR</a
    >
    <a href="" class="m-3 p-1 rounded-lg hover:bg-fondo1 text-white"
      >SERVICIOS</a
    >
    <a href="" class="m-3 p-1 rounded-lg hover:bg-fondo1 text-white">ANALISIS</a
    >
    <a href="" class="m-3 p-1 rounded-lg hover:bg-fondo1 text-white"
      >DASHBOARD</a
    >
  </div>
</nav>
