---
import Logo from "../../../public/images/Frame 19.svg";
---

<section class="flex justify-center items-center h-screen relative">
    <a
        href="/"
        class="absolute top-4 left-4 py-2 px-4 text-white bg-verde -700 hover:bg-verde -600 rounded-lg"
        >Volver al Home  </a
    >

    <div class="bg-fondo3 rounded-lg p-9">
        <h1 class="text-black font-semibold text-center">
            SECRETARÍA DE LA MUJER
        </h1>

        <img src={Logo.src} alt="Logo" class="w-[200px] rounded-3xl mx-auto" />

        <form class="mt-6">
            <input
                class="border-2 border-black rounded-xl px-6 py-2 w-full mb-4"
                placeholder="Usuario"
                type="text"
                required
            /><br />

            <input
                class="border-2 border-black rounded-xl px-6 py-2 w-full mb-4"
                placeholder="Contraseña"
                type="password"
                required
            />

            <p class="text-center">
                <a
                    href=""
                    class="py-2 px-11 text-white bg-verde hover:bg-fondo1 rounded-lg"
                    >Iniciar Sesión</a
                >
            </p>
        </form>

        <div class="mt-4 text-center">
            <a href="" class="text-red-500 underline block mb-1"
                >Olvidé mi contraseña</a
            >
            <a href="" class="text-red-500 underline block">Olvidé mi usuario</a
            >
        </div>

        <p class="text-center mt-4">
            <a
                href=""
                class="py-2 px-11 text-white bg-azulOscuro hover:bg-fondo1 rounded-lg"
                >Registrar Usuario</a
            >
        </p>
    </div>
</section>
